.card-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

/* Styles for the customer table section */
.customer_table,
.customer_form {
  flex: 1;
  margin-right: 10px;
  /* Spacing between sections */
  padding: 20px;
  border: 1px solid #ccc;
  /* Border to create a box */
  border-radius: 10px;
  /* Rounded corners */
  background-color: #f9f9f9;
  /* Light background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Optional shadow */
}

.customer_table h5,
.customer_form h5 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
  color: rgb(22, 74, 187);
  font-family: courier;
  font-size: 160%;
}

table {
  width: 90%;
  border-collapse: collapse;
  table-layout: fixed;
  /* fixed issue of table size changing*/
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  width: 80px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}